.container {
  width: 100%;
  position: absolute;
  bottom: 0;
  .spinner {
    animation: GalleryFooter-spinner infinite 4s linear;
    height: 240px;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes GalleryFooter-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
